{% if page.previous or page.next %}
<nav class="pagination">
    {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">上一页 > {{page.previous.title | default: "上一页"}}</a>
    {% else %}
    <a href="#" class="pagination--pager disabled">启源</a>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">下一页 > {{ page.next.title | default: "下一页" }}</a>
    {% else %}
    <a href="#" class="pagination--pager disabled">终焉</a>
    {% endif %}
</nav>
{% endif %}